# Configuration file

~CONFIG_VERSION: 0.2.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# JEIの機能を変更する高度な設定。
##########################################################################################################

advanced {
    # JEI検索バーを中央下に移動します。 [default: false]
    B:centerSearchBarEnabled=false
    B:debugModeEnabled=false

    # JEIのGUIやツールチップにおいてどのようにMod名を表示するか指定します。空欄で無効。 [デフォルト: blue italic] [有効: [black, dark_blue, dark_green, dark_aqua, dark_red, dark_purple, gold, gray, dark_gray, blue, green, aqua, red, light_purple, yellow, white, obfuscated, bold, strikethrough, underline, italic]]
    S:modNameFormat=blue italic
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# 検索バーに関する設定。
##########################################################################################################

search {
    # アイテム色検索 (prefix: ^)
    # [デフォルト: disabled]
    # [有効: [enabled, require_prefix, disabled]]
    S:colorSearchMode=DISABLED

    # クリエイティブタブ名検索 (prefix: %)
    # [デフォルト: require_prefix]
    # [有効: [enabled, require_prefix, disabled]]
    S:creativeTabSearchMode=REQUIRE_PREFIX

    # Mod名検索 (prefix: @)
    # [デフォルト: require_prefix]
    # [有効: [enabled, require_prefix, disabled]]
    S:modNameSearchMode=REQUIRE_PREFIX

    # 鉱石辞書名検索 (prefix: $)
    # [デフォルト: require_prefix]
    # [有効: [enabled, require_prefix, disabled]]
    S:oreDictSearchMode=REQUIRE_PREFIX

    # ツールチップ検索 (prefix: #)
    # [デフォルト: enabled]
    # [有効: [enabled, require_prefix, disabled]]
    S:tooltipSearchMode=ENABLED
}


