# Configuration file

debug {
    # Enable debug log.
    B:debugLog=false

    # Show event log on the game screen.
    B:showLogInChat=false
}


settings {
    # Enable ItemDelocalizer
    B:enable=true

    # Key strings(regexp) to force translation into en_US.
    S:keyFilters <
        ^this\.is\.sample\..*
     >

    # Show localized item names.
    B:showLocalizedItemName=true

    # Process entity translation strictly.
    B:strictly=false
}


